
.icon-bookmark:before { content: '\e800'; } /* '' */
.icon-back-in-time:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-mail-2:before { content: '\e805'; } /* '' */
.icon-mail-3:before { content: '\e806'; } /* '' */
.icon-mail-4:before { content: '\e807'; } /* '' */
.icon-mail-5:before { content: '\e808'; } /* '' */
.icon-down-circled2:before { content: '\e809'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */